header {
    width: 88%;
    margin: 0 auto;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    font-weight: bold;
}

.blog-header-logo:hover {
    text-decoration: none;
    color: inherit
}

.text-dark {
    color: #343a40 !important;
}